* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}
main {
  background-color: #050213;
}
.background-blur {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-svg {
  width: 95%;
  filter: blur(100px);
}
.join-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-info {
  width: 80%;
  color: aliceblue;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-optical-sizing: auto;
}
.form-content {
  margin: 2.5rem;
}

.quick-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.google {
  background-color: aliceblue;
  outline: none;
  border: none;
  border-radius: 30rem;
  padding: 0.9rem 128px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  opacity: 1;
}
.google:hover {
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.right-line {
  width: 100%;
  height: 1px;
  background-color: #acacac7c;
}
.dividing-word {
  font-size: 1.1rem;
  padding: 10px;
  color: aliceblue;
  font-optical-sizing: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-box {
  width: 100%;
}
input {
  padding: 0.9rem 0;
  border-radius: 30rem;
  text-align: center;
  background: transparent;
  border: 1px solid #aa13db;
  font-size: 1.1rem;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  color: #ffffff;
  transition: all 0.5s ease;
  outline: none; /* Removes default blue outline */
}
input:focus {
  border: 1px solid #a913dbae;
  transition: all 0.5s ease;
}

.login-btn {
  display: flex;
  justify-content: right;
  margin: 10px 0;
  gap: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(203, 203, 203);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
  text-decoration: none;

  opacity: 1;
}
.login-btn:hover {
  opacity: 0.9;
}
.terms {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(203, 203, 203);
  width: 70%;
  text-align: center;
}

.term-link {
  text-decoration: none;
  color: #9f84ff;
}
.login-box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.last-option {
  color: #ffffff;
  font-size: 1.1rem;
}

.main-login {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
  color: #aa13db;
}

.popup .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  transition: 0pacity 100ms ease-in-out 200ms;
  border-radius: 20px;
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: #9f84ff;
  transform: translate(-50%, -50%) scale(1.15 );
}
.policy {
  margin-top: 3rem;
  font-weight: 100;
  color: rgb(203, 203, 203);
}
